<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="servers" value="192.168.0.111,192.168.0.104"/>
    <add key="username" value="ubnt"/>
    <add key="password" value="ubnt"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>